@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@import "tailwindcss";
@plugin "daisyui";

* {
  font-family: "Quicksand", sans-serif;
}
[data-aos] {
  pointer-events: none;
}
[data-aos].aos-animate {
  pointer-events: auto;
}

[data-aos] {
  body.aos-all-visible & {
    opacity: 1 !important;
    transform: none !important;
    transition: none !important;
  }
}

@theme {
  --animate-fadeInDown: fadeInDown 0.8s ease-out both;
  --animate-fadeInLeft: fadeInLeft 0.8s ease-out both;
  --animate-fadeInRight: fadeInRight 0.8s ease-out both;

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-70px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(700px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(-700px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
